# Ignorar todo por defecto
*

# Permitir el propio .gitignore
!.gitignore

# Permitir carpeta training
!/training/

# Dentro de training, ignorar node_modules y builds
/training/node_modules/
/training/dist/
/training/dist-ssr/